<div class="container" style="width: 60%; margin-top: 50px;">
    <div>
        <h2 style="display: inline;">Welcome back! Please log in below.</h2>
        <span style="float:right; line-height:75px;">New user? <a routerLink="/customerRegistration">Register
                here</a></span>
    </div>

    <p></p>

    <form #customerLoginForm="ngForm" (ngSubmit)="customerLogin(customerLoginForm)"
        style="background-color: aliceblue;">

        <br>

        <div class="ui-g ui-fluid" style="margin-left: 20%; ">

            <div class="ui-g-12 ui-md-9">
                Email
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
                    <input id="email" name="email" #emailReverseBind="ngModel" [(ngModel)]="email" type="email"
                        pInputText placeholder="Email" required="true"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>
            </div>
            <div class="ui-g-12 ui-md-9" style="color: crimson;"
                *ngIf="emailReverseBind.invalid && (emailReverseBind.dirty || emailReverseBind.touched || submitted)">
                <div *ngIf="emailReverseBind.errors.required">
                    Email is required!
                </div>
                <div *ngIf="emailReverseBind.errors?.pattern">
                    Please enter a valid email!
                </div>
            </div>

            <div class="ui-g-12 ui-md-9">
                Password
                <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
                    <input id="password" name="password" #passwordReverseBind="ngModel" [(ngModel)]="password"
                        type="password" pInputText placeholder="Password" required="true">
                </div>
            </div>
            <div class="ui-g-12 ui-md-9" style="color: crimson;"
                *ngIf="passwordReverseBind.invalid && (passwordReverseBind.dirty || passwordReverseBind.touched || submitted)">
                <div *ngIf="passwordReverseBind.errors.required">
                    Password is required!
                </div>
            </div>

        </div>


        <div *ngIf="loginError == true" style="text-align: center; color: crimson;">
            {{errorMessage}}
        </div>

        <br>

        <div style="text-align: center;">
            <button pButton type="button" class="ui-button-info" label="Clear" (click)="clear()"
                style=" margin-right:.25em; width:15%;"></button>
            <button pButton type="submit" class="ui-button-success" label="Log in" style="width: 15%;"></button>
        </div>
        <br>

    </form>

</div>