<div class="container">
    <br>

    <h1 style="border-bottom: 1px solid gray;">YOUR PARTS. YOUR CHOICE.</h1>
    <div style="color: gray">Select your parts from our wide selection below</div>

    <br>

    <div>COMPATIBILITY CHECKER</div>

    <br>

    <div class="ui-g">
        <div class=" ui-g-3">Part</div>
        <div class="ui-g-7">Name</div>
        <div class="ui-g-2">Price</div>
    </div>

    <hr style="border-top: 5px solid darkgray;">

    <div class="ui-g">
        <div class="ui-g-3"><b>CPU Cooler</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr>

    <div class="ui-g">
        <div class="ui-g-3"><b>Computer Case</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr>

    <div class="ui-g">
        <div class="ui-g-3"><b>GPU</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr>

    <div class="ui-g">
        <div class="ui-g-3"><b>Internal Storage (SSD/HDD)</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr>

    <div class="ui-g">
        <div class="ui-g-3"><b>Motherboard</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr>

    <div class="ui-g">
        <div class="ui-g-3"><b>Power Supply</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr>

    <div class="ui-g">
        <div class="ui-g-3"><b>RAM</b></div>
        <div class="ui-g-7">Col2</div>
        <div class="ui-g-2">Col3</div>
    </div>

    <hr style="border-top: 5px solid darkgray;">

    <div class="ui-g">
        <div class="ui-g-10"></div>
        <div class="ui-g-1"><b>Total: S$</b></div>
        <div class="ui-g-1">price</div>
    </div>

    <div class="ui-g">
        <div class="ui-g-9"></div>
        <div class="ui-g-3"><button pButton type="button" label="Add Build to Cart" style="width: 100%;"></button></div>
    </div>

</div>