<div class="ui-g">
    <div class="ui-g-3">
        <p-menu [model]="sidenavItems"></p-menu>
    </div>
    <div class="ui-g-6">
        <h1 style="margin-left: 6%;">New Arrivals</h1>
        <p-carousel [value]="carouselItems" [numVisible]="1" [numScroll]="1">
            <ng-template let-carouselItem pTemplate="item">
                <div>
                    <img src="{{carouselItem}}" width="100%" style="max-height: 600px;">
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div class="ui-g-3">
        <div class="ui-g-12"><img src="assets/images-folder/free-delivery-promo.JPG" width="100%"></div>
        <div class="ui-g-12">
            <a routerLink="/customerRegistration">
                <img src="assets/images-folder/new-user-sign-up.JPG" width="100%">
            </a>
        </div>
    </div>
</div>