<div style="background-color: cadetblue; margin-top: 50px; color: whitesmoke;">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <b>Customer Service</b>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
            </div>
            <div class="col-sm">
                <b>My Account</b>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
            </div>
            <div class="col-sm">
                <b>About Comsman</b>
                <div><a routerLink="/index" style="color: whitesmoke;">The Team</a></div>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
                <div><a routerLink="/index" style="color: whitesmoke;">filler</a></div>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="container" style="width: 60%; text-align: center;">
    <br>

    <div>
        <a routerLink="/index" style="color: black;"><b>Terms and Conditions</b></a> |
        <a routerLink="/index" style="color: black;"><b>Privacy Policy</b></a> |
        <span><b>© AY19/20 IS3106 Comsman Ptd Ltd. All rights reserved.</b></span>
    </div>

    <br>

    <div style="text-align: center;"><b>Contact Us</b></div>
    <div style="margin-top: 1%;">
        <a routerLink="/index">
            <fa-icon [icon]="faFacebookSquare" size="2x" style="color: #3b5998;"></fa-icon>
        </a>
        <a routerLink="/index">
            <fa-icon [icon]="faTwitterSquare" size="2x" style="padding-left: 2%; color: #55acee;"></fa-icon>
        </a>
        <a routerLink="/index">
            <fa-icon [icon]="faInstagramSquare" size="2x" style="padding-left: 2%; color: #3f729b;"></fa-icon>
        </a>
        <a routerLink="/index">
            <fa-icon [icon]="faGithubSquare" size="2x" style="padding-left: 2%; color: #211F1F"></fa-icon>
        </a>
    </div>

    <br>

</div>