<br>

<div class="container" style="outline: thin solid lightgray;">
    <br>

    <h1>View Product</h1>

    <br>

    <div class="ui-g">

        <div class="ui-g-4">{{product.image}}</div>

        <div class="ui-g-8">
            <div class="ui-g-12">
                <h2>{{product.name}}</h2>
            </div>
            <!-- Description -->
            <div class="ui-g-12"></div>
            <div class="ui-g-12"></div>
            <div class="ui-g-12"><b>Price:</b> S$ {{product.price.toFixed(2)}}</div>
            <div class="ui-g-12">
                <b>Quantity:</b>
                <p-spinner [(ngModel)]="quantitySelected" size="5" min="1" max={{product.inventoryQuantity}}
                    style="margin-left: 2%;">
                </p-spinner><span style="color: gray; margin-left: 1%;">{{product.inventoryQuantity}} items left!</span>
            </div>
            <div class="ui-g-12" style="margin-top: 5%;">
                <button pButton type="button" label="Add to Build" style="width: 150px; margin-right: 2%;"
                    class="ui-button-secondary" (click)="addToBuild()"></button>
                <button pButton type="button" label="Add to Cart" style="width: 150px"
                    (click)="addToCart(product)"></button>
            </div>
        </div>

    </div>

    <br>
    <br>

</div>

<p-dialog header="Success" [(visible)]="displayAddtoCartSuccessModal" [modal]="true">
    <div style="text-align: center;">
        <br>
        <div>Added to cart!
            <br>
            <br>
            <div><button type="button" pButton (click)="confirmSuccess()" label="Go to Cart"
                    class="ui-button-rounded ui-button-secondary" [routerLink]="['/customerCart']"></button>
                <button type="button" pButton (click)="confirmSuccess()" label="Continue Shopping"
                    class="ui-button-rounded"></button>
            </div>
        </div>
    </div>
</p-dialog>

<p-dialog header="Error" [(visible)]="displayAddtoCartErrorModal" [modal]="true">
    <div style="text-align: center;">
        <br>
        <div>Product already in cart!
            <br>
            <br>
            <div><button type="button" pButton (click)="confirmError()" label="Continue"
                    class="ui-button-rounded"></button></div>
        </div>
    </div>
</p-dialog>