<div class="row" style="margin-right: 0; width: 100%;">
    <div class="col-md-2">
        <p-menu [model]="sidenavItems"></p-menu>
    </div>


    <div class="col-md-10">
        <p-table [value]="coupons">
            <ng-template pTemplate="header">
                <tr>
                    <th>Coupon Code</th>
                    <th>Coupon Start Date</th>
                    <th>Coupon End Date</th>
                    <th>Points Required</th>
                    <th>Coupon Type</th>
                    <th>Value</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-coupon>
                <tr>
                    <td>{{coupon.code}}</td>
                    <td>{{coupon.startDate}}</td>
                    <td>{{coupon.endDate}}</td>
                    <td>{{coupon.loyaltyPointsRequired}}</td>
                    <td>{{coupon.couponType}}</td>
                    <td *ngIf="coupon.couponType == 'PERCENTAGE'">
                        -{{coupon.percentageRate*100}}%
                    </td>
                    <td *ngIf="coupon.couponType == 'FLAT_AMOUNT'">
                        -S${{coupon.flatAmount}}
                    </td>
                    <td *ngIf="coupon.couponType == 'FREE_DELIVERY'">
                        Free delivery
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </div>
</div>