<div style="margin-left: 5%; margin-right: 5%;">
    <div class="ui-g">

        <div class="ui-g-2">

            <br>
            <br>

            <h3>Filters</h3>
            <hr style="border-color: black;">

            <h5>Manufacturer</h5>
            <div>
                <p-checkbox label="All" [(ngModel)]="AllManufacturersCheckbox" binary="true"
                    (click)="removeManufacturerFilters()"></p-checkbox>
            </div>
            <div *ngFor="let manufacturer of manufacturers">
                <p-checkbox value={{manufacturer}} label={{manufacturer}} [(ngModel)]="selectedManufacturers"
                    (click)="applyFilters()">
                </p-checkbox>
            </div>

            <hr>

            <h5>Core Count</h5>
            <div>
                <p-checkbox label="All" [(ngModel)]="AllCoreCountCheckbox" binary="true"
                    (click)="removeCoreCountFilters()">
                </p-checkbox>
            </div>
            <div *ngFor="let core of coreCount">
                <p-checkbox value={{core}} label={{core}} [(ngModel)]="selectedCoreCount" (click)="applyFilters()">
                </p-checkbox>
            </div>
            <hr>

            <h5>TDP</h5>
            <div>
                <p-checkbox label="All" [(ngModel)]="AllTDPCheckbox" binary="true" (click)="removeTDPFilters()">
                </p-checkbox>
            </div>
            <div *ngFor="let tdp of TDP">
                <p-checkbox value={{tdp}} label={{tdp}} [(ngModel)]="selectedTDP" (click)="applyFilters()">
                </p-checkbox>
            </div>

            <hr>

            <h5>Socket</h5>
            <div>
                <p-checkbox label="All" [(ngModel)]="AllSocketCheckbox" binary="true" (click)="removeSocketFilters()">
                </p-checkbox>
            </div>
            <div *ngFor="let s of socket">
                <p-checkbox value={{s}} label={{s}} [(ngModel)]="selectedSocket" (click)="applyFilters()">
                </p-checkbox>
            </div>

            <hr>

            <h5>Intergrated Graphics</h5>
            <div>
                <p-checkbox label="All" [(ngModel)]="AllHasIntergratedGraphicsCheckbox" binary="true"
                    (click)="removeHasIntergratedGraphicsFilters()"></p-checkbox>
            </div>
            <div *ngFor="let has of hasIntergratedGraphics">
                <p-checkbox value={{has}} label={{has}} [(ngModel)]="selectedHasIntergratedGraphics"
                    (click)="applyFilters()">
                </p-checkbox>
            </div>

            <hr>

            <h5>Includes Cooler</h5>
            <div>
                <p-checkbox label="All" [(ngModel)]="AllIncludesCpuCoolerCheckbox" binary="true"
                    (click)="removeIncludesCpuCoolerFilters()"></p-checkbox>
            </div>
            <div *ngFor="let inc of includesCpuCooler">
                <p-checkbox value={{inc}} label={{inc}} [(ngModel)]="selectedIncludesCpuCooler"
                    (click)="applyFilters()">
                </p-checkbox>
            </div>

            <hr>


        </div>

        <div class="ui-g-10">
            <app-view-all-products [productType]="productType" [products]="filteredCPU">
            </app-view-all-products>
        </div>

    </div>
</div>